{{#with celebrities}}

<h2>Details about {{name}}</h2>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
<a href="/celebrities">Back!</a>

<a href="/celebrities/{{_id}}/delete">Remove me!</a>
<a href="/celebrities/{{_id}}/edit">Edit me!</a>
{{/with}}


{{!-- <a href="/"></a> --}}